<h1 style="font-size: 1.5em; line-height: 2em;">Cordial saludo {{ user.first_name }}</h1>

<p>Enviamos este mensaje para restablecer su contraseña. Haga clic en el siguiente enlace:</p>
<p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
<!-- Se dejo el protocolo HTTP, debido a que al ser servidor local Django solo no me deja ingresar a HTTPS 
<p><a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>-->

<p>Su correo electrónico registrado es:<b>{{ user.email }}</b></p>